@{
    ViewBag.Title = "Home";
}

<div class="hero-unit">

    <h1>Welcome!</h1>
    <p>
        This is a demo for the MB Pipeline application. Click below to sign up. Please note this is currently limited beta.
    </p>
    
    <p><a class="btn btn-primary btn-large">Sign up »</a></p>

</div>